---
interface Props {
  pageId: string;
  pageUrl: string;
  pageTitle: string;
}
const { pageId, pageUrl, pageTitle } = Astro.props;
---

<div class="mt-16 pt-8 border-t border-white/10">
  <div id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="937b9b9e-908f-4ece-820f-bc7ec1439491"
    data-page-id={pageId}
    data-page-url={pageUrl}
    data-page-title={pageTitle}
    data-theme="auto"
  ></div>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</div>
