---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map((project) => ({
		params: { slug: project.id },
		props: project,
	}));
}
type Props = CollectionEntry<'projects'>;

const project = Astro.props;
const { Content } = await render(project);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={project.data.title} description={project.data.description} />
		<style>
			.project-content {
				margin-top: 2rem;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<h1 class="gradient-text">{project.data.title}</h1>
				<div class="prose project-content">
					<Content />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
